* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif,noto-font-emoji ;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(0, 24, 71, 0);
    color: #04f4d8;
    transition-property: background-color;
    transition-duration: .5s;
    
}

window#waybar.hidden {
    opacity: 0.2
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 10;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #04f4d8;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: #015656;
    box-shadow: inset 0 -3px #09fc05;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

tooltip{
    background-color: #001847;
    border-radius: 10;
    border-color: #09fc05;
    border-width: 3;
}

#custom-weather,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#tray,
#mode,
#custom-weatherInfo,
#idle_inhibitor,
#custom-gputemp,
#custom-gpuusage,
#window,
#taskbar,

#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #001847;
    box-shadow: inset 0 -3px #09fc05;
    color: #04f4d8;
    border-radius: 10;
    padding-left: 4;
    padding-right: 4;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #001847;
    box-shadow: inset 0 -3px #09fc05;
    color: #04f4d8;
    border-radius: 10;
    padding-left: 4;
    padding-right: 4;
}

#custom-weatherInfo {
   background-color: #001847;
   box-shadow: inset 0 -3px #09fc05;
   color: #04f4d8;
   border-radius: 10;
   padding-left: 4;
   padding-right: 4;
}


#custom-gputemp {
    background-color: #001847;
    box-shadow: inset 0 -3px #09fc05;
    color: #04f4d8;
    border-radius: 10;
    padding-left: 4;
    padding-right: 4;
}

#custom-gpuusage {
    background-color: #001847;
    box-shadow: inset 0 -3px #09fc05;
    color: #04f4d8;
    border-radius: 10;
    padding-left: 4;
    padding-right: 4;
}

#custom-weather {
    background-color: #001847;
    box-shadow: inset 0 -3px #09fc05;
    color: #04f4d8;
    border-radius: 10;
    padding-left: 4;
    padding-right: 4;
}

#memory {
    background-color: #001847;
    box-shadow: inset 0 -3px #09fc05;
    color: #04f4d8;
    border-radius: 10;
    padding-left: 4;
    padding-right: 4;
}

#disk {
    background-color: #001847;
    box-shadow: inset 0 -3px #09fc05;
    color: #04f4d8;
    border-radius: 10;
    padding-left: 4;
    padding-right: 4;
}

#network {
    background-color: #001847;
    box-shadow: inset 0 -3px #09fc05;
    color: #04f4d8;
    border-radius: 10;
    padding-left: 4;
    padding-right: 4;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #001847;
    box-shadow: inset 0 -3px #09fc05;
    color: #04f4d8;
    border-radius: 10;
    padding-left: 4;
    padding-right: 4;
}

#pulseaudio.muted {
    background-color: #2980b9;}

#taskbar {
    margin-left: 200;
}

#taskbar button{
}

#taskbar button.active{
    background-color: #015656;
    box-shadow: inset 0 -3px #09fc05;
}

#temperature {
    background-color: #001847;
    box-shadow: inset 0 -3px #09fc05;
    color: #04f4d8;
    border-radius: 10;
    padding-left: 4;
    padding-right: 4;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #001847;
    box-shadow: inset 0 -3px #09fc05;
    color: #04f4d8;
    border-radius: 10;
    padding-left: 7;
    padding-right: 7;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #001847;
    box-shadow: inset 0 -3px #09fc05;
    color: #04f4d8;
    border-radius: 10;
    padding-left: 4;
    padding-right: 4;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#language {
    background-color: #001847;
    box-shadow: inset 0 -3px #09fc05;
    color: #04f4d8;
    border-radius: 10;
    padding-left: 4;
    padding-right: 4;
}

#keyboard-state {
    background-color: #001847;
    box-shadow: inset 0 -3px #09fc05;
    color: #04f4d8;
    border-radius: 10;
    padding-left: 4;
    padding-right: 4;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#window {
    background-color: #001847;
    box-shadow: inset 0 -3px #09fc05;
    color: #04f4d8;
    padding-left: 4px;
    padding-right: 4px;
}
